Repository mudita/MuditaOS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mudita/os, @wojtekidd, @hubert-chrzaniuk, @jimmorrisson, @alekrudnik, @SP2FET, @grzyw-o-mat, @SzMrMdt, @kkleczkowski, @mudita/os/embedded-abs, @pholat, @PrzeBrudny, @mozdzyk, @mpsm, @piotr-tanski, @lucckb, @rkubiak01, @rwicik

.github/CODEOWNERS:

# all devs are codeovners
* @mudita/os

#docments
*.md                                        @wojtekidd
/doc/**                                     @wojtekidd

#modules
/module-audio/**                            @hubert-chrzaniuk @jimmorrisson @alekrudnik
/module-bluetooth/**                        @SP2FET
/module-bsp/**                              @grzyw-o-mat @SzMrMdt
/module-cellular/**                         @kkleczkowski @alekrudnik
/module-db/**                               @mudita/os/embedded-abs @pholat @PrzeBrudny
/module-gui/**                              @PrzeBrudny @pholat @mozdzyk
/module-utils/**                            @alekrudnik @mpsm @piotr-tanski
/module-utils/PhoneNumber.*                 @mpsm
/module-vfs/**                              @lucckb @alekrudnik @rkubiak01 @SzMrMdt
/module_services/**                         @alekrudnik

#system
/module-bsp/board/rt1051/bsp/audio/**       @mpsm @alekrudnik
/module-os/**                               @mpsm
/module-sys/**                              @mpsm @alekrudnik
/module-sys/Service/**                      @pholat

#services
/module_services/service-antenna/**         @kkleczkowski
/module-services/service-appmgr/**          @pholat @piotr-tanski
/module_services/service-audio/**           @hubert-chrzaniuk @jimmorrisson
/module_services/service-cellular/**        @kkleczkowski
/module-services/service-db/**              @mudita/os/embedded-abs @PrzeBrudny
/module-services/service-desktop/**         @SP2FET @rkubiak01
/module_services/service-file-indexer/**    @lucckb

#apps
/module-apps/**                             @piotr-tanski @pholat @PrzeBrudny
/module-apps/application-calendar/**        @PrzeBrudny @pholat @alekrudnik
/module-apps/application-call/**            @alekrudnik
/module-apps/application-calllog/**         @mudita/os/embedded-abs
/module-apps/application-messages/**        @PrzeBrudny
/module-apps/application-music-player/**    @alekrudnik
/module-apps/application-phonebook/**       @mudita/os/embedded-abs @PrzeBrudny
/module-apps/application-settings-new/**    @mudita/os/embedded-abs
/module-apps/application-settings/**        @mudita/os/embedded-abs

#build system
*.cmake                                     @rwicik @mpsm
*.sh                                        @pholat @rwicik @lucckb
.github/**                                  @rwicik
.gitmodules                                 @mpsm @rwicik
/board/rt1051/ldscripts/**                  @mpsm
/config/**                                  @rwicik @rkubiak01
/docker/**                                  @rwicik
CMakeLists.txt                              @rwicik @mpsm

[EGD-4054] Audio API for setting stream parameters (#826)
  changelog.md
  module-apps/application-call/windows/CallWindow.cpp
  module-audio/Audio/Audio.cpp
  module-audio/Audio/Audio.hpp
  module-audio/Audio/AudioCommon.hpp
  module-audio/Audio/Operation/IdleOperation.hpp
  module-audio/Audio/Operation/Operation.hpp
  module-audio/Audio/Operation/PlaybackOperation.cpp
  module-audio/Audio/Operation/PlaybackOperation.hpp
  module-audio/Audio/Operation/RecorderOperation.cpp
  module-audio/Audio/Operation/RecorderOperation.hpp
  module-audio/Audio/Operation/RouterOperation.cpp
  module-audio/Audio/Operation/RouterOperation.hpp
  module-audio/Audio/decoder/atag.hpp
  module-bsp/bsp/audio/bsp_audio.cpp
  module-bsp/bsp/audio/bsp_audio.hpp
  module-services/service-audio/ServiceAudio.cpp
  module-services/service-audio/ServiceAudio.hpp
  module-services/service-audio/api/AudioServiceAPI.cpp
  module-services/service-audio/api/AudioServiceAPI.hpp
  module-services/service-audio/messages/AudioMessage.hpp
  module-services/service-evtmgr/EventManager.cpp
  module-services/service-evtmgr/WorkerEvent.cpp
Owners: @wojtekidd, @alekrudnik, @hubert-chrzaniuk, @jimmorrisson, @grzyw-o-mat, @SzMrMdt, @mudita/os

[EGD-4054] Audio API for setting stream parameters (#826)
  changelog.md
  module-apps/application-call/windows/CallWindow.cpp
  module-audio/Audio/Audio.cpp
  module-audio/Audio/Audio.hpp
  module-audio/Audio/AudioCommon.hpp
  module-audio/Audio/Operation/IdleOperation.hpp
  module-audio/Audio/Operation/Operation.hpp
  module-audio/Audio/Operation/PlaybackOperation.cpp
  module-audio/Audio/Operation/PlaybackOperation.hpp
  module-audio/Audio/Operation/RecorderOperation.cpp
  module-audio/Audio/Operation/RecorderOperation.hpp
  module-audio/Audio/Operation/RouterOperation.cpp
  module-audio/Audio/Operation/RouterOperation.hpp
  module-audio/Audio/decoder/atag.hpp
  module-bsp/bsp/audio/bsp_audio.cpp
  module-bsp/bsp/audio/bsp_audio.hpp
  module-services/service-audio/ServiceAudio.cpp
  module-services/service-audio/ServiceAudio.hpp
  module-services/service-audio/api/AudioServiceAPI.cpp
  module-services/service-audio/api/AudioServiceAPI.hpp
  module-services/service-audio/messages/AudioMessage.hpp
  module-services/service-evtmgr/EventManager.cpp
  module-services/service-evtmgr/WorkerEvent.cpp
Owners: @wojtekidd, @alekrudnik, @hubert-chrzaniuk, @jimmorrisson, @grzyw-o-mat, @SzMrMdt, @mudita/os

[EGD-4089] Removed the border around settings menu.
  changelog.md
  module-apps/application-settings/windows/BtWindow.cpp
  module-gui/gui/widgets/PageLayout.cpp
Owners: @wojtekidd, @mudita/os/embedded-abs, @PrzeBrudny, @pholat, @mozdzyk

[EGD-4089] Removed the border around settings menu. (#835)
  changelog.md
  module-apps/application-settings/windows/BtWindow.cpp
  module-gui/gui/widgets/PageLayout.cpp
Owners: @wojtekidd, @mudita/os/embedded-abs, @PrzeBrudny, @pholat, @mozdzyk

[EGD-4089] Removed the border around settings menu. (#835)
  changelog.md
  module-apps/application-settings/windows/BtWindow.cpp
  module-gui/gui/widgets/PageLayout.cpp
Owners: @wojtekidd, @mudita/os/embedded-abs, @PrzeBrudny, @pholat, @mozdzyk

(to be squashed) [EGD-4023] Vibration - get values from DB
  module-services/service-audio/ServiceAudio.cpp
Owners: @mudita/os

(to be squashed) [EGD-4023] Vibration - get values from DB
  module-audio/Audio/AudioCommon.cpp
  module-audio/Audio/AudioCommon.hpp
Owners: @hubert-chrzaniuk, @jimmorrisson, @alekrudnik

(to be squashed) [EGD-4023] Vibration - get values from DB
  module-services/service-audio/ServiceAudio.hpp
Owners: @mudita/os

[EGD-4023] Vibration - get values from DB
  module-audio/Audio/AudioCommon.cpp
  module-audio/Audio/AudioCommon.hpp
  module-audio/Audio/AudioMux.cpp
  module-audio/Audio/AudioMux.hpp
  module-audio/Audio/Operation/PlaybackOperation.cpp
  module-audio/Audio/Operation/RecorderOperation.cpp
  module-audio/Audio/Operation/RouterOperation.cpp
  module-audio/Audio/test/unittest_audio.cpp
  module-services/service-audio/ServiceAudio.cpp
  module-services/service-audio/ServiceAudio.hpp
Owners: @hubert-chrzaniuk, @jimmorrisson, @alekrudnik, @mudita/os

[EGD-4023] Vibration - get values from DB (#807)
  module-audio/Audio/AudioCommon.cpp
  module-audio/Audio/AudioCommon.hpp
  module-audio/Audio/AudioMux.cpp
  module-audio/Audio/AudioMux.hpp
  module-audio/Audio/Operation/PlaybackOperation.cpp
  module-audio/Audio/Operation/RecorderOperation.cpp
  module-audio/Audio/Operation/RouterOperation.cpp
  module-audio/Audio/test/unittest_audio.cpp
  module-services/service-audio/ServiceAudio.cpp
  module-services/service-audio/ServiceAudio.hpp
Owners: @hubert-chrzaniuk, @jimmorrisson, @alekrudnik, @mudita/os

[EGD-4023] Vibration - get values from DB (#807)
  module-audio/Audio/AudioCommon.cpp
  module-audio/Audio/AudioCommon.hpp
  module-audio/Audio/AudioMux.cpp
  module-audio/Audio/AudioMux.hpp
  module-audio/Audio/Operation/PlaybackOperation.cpp
  module-audio/Audio/Operation/RecorderOperation.cpp
  module-audio/Audio/Operation/RouterOperation.cpp
  module-audio/Audio/test/unittest_audio.cpp
  module-services/service-audio/ServiceAudio.cpp
  module-services/service-audio/ServiceAudio.hpp
Owners: @hubert-chrzaniuk, @jimmorrisson, @alekrudnik, @mudita/os

Style changes in application meditation
  image/assets/lang/lang_en.json
  module-apps/application-meditation/CMakeLists.txt
  module-apps/application-meditation/data/Style.hpp
  module-apps/application-meditation/widgets/CircularTimeSelector.cpp
  module-apps/application-meditation/widgets/CircularTimeSelector.hpp
  module-apps/application-meditation/widgets/IntervalBox.cpp
  module-apps/application-meditation/widgets/IntervalBox.hpp
  module-apps/application-meditation/widgets/MeditationListItemProviders.cpp
  module-apps/application-meditation/widgets/MeditationListItemProviders.hpp
  module-apps/application-meditation/widgets/MeditationListItems.cpp
  module-apps/application-meditation/widgets/MeditationListItems.hpp
  module-apps/application-meditation/widgets/MeditationListRecords.hpp
  module-apps/application-meditation/widgets/MeditationTimer.cpp
  module-apps/application-meditation/widgets/MeditationTimer.hpp
  module-apps/application-meditation/widgets/TimerSetter.cpp
  module-apps/application-meditation/widgets/TimerSetter.hpp
  module-apps/application-meditation/windows/MeditationListViewWindows.cpp
  module-apps/application-meditation/windows/MeditationListViewWindows.hpp
  module-apps/application-meditation/windows/MeditationTimerWindow.cpp
  module-apps/application-meditation/windows/MeditationTimerWindow.hpp
  module-apps/application-meditation/windows/MeditationWindow.cpp
  module-apps/application-meditation/windows/MeditationWindow.hpp
  module-gui/gui/widgets/Circle.cpp
  module-gui/gui/widgets/Circle.hpp
  module-gui/gui/widgets/Style.hpp
Owners: @mudita/os, @rwicik, @mpsm, @piotr-tanski, @pholat, @PrzeBrudny, @mozdzyk

[EGD-4093] fix crash on simulator exit
  changelog.md
  module-services/service-evtmgr/EventManager.cpp
Owners: @wojtekidd, @mudita/os
