Repository mudita/MuditaOS, pull requests merged in 2021-11, with the labels that each got.

#3164 [EGD-6857] Fix HSP audio quality
  module-audio/Audio/StreamFactory.cpp
  module-audio/Audio/StreamFactory.hpp
  module-audio/Audio/test/unittest_transcode.cpp
  module-audio/Audio/transcode/BasicInterpolator.hpp
  module-audio/Audio/transcode/InputTranscodeProxy.cpp
  module-bluetooth/Bluetooth/audio/BluetoothAudioDevice.cpp
Labels: bug, audio, bluetooth

#3196 [EGD-7931] Fixed bt pairing
  module-apps/application-settings/windows/bluetooth/AddDeviceWindow.cpp
  module-apps/application-settings/windows/bluetooth/AllDevicesWindow.cpp
  module-bluetooth/Bluetooth/Device.hpp
  module-bluetooth/Bluetooth/interface/BluetoothDriverImpl.cpp
  module-bluetooth/Bluetooth/interface/profiles/GAP/GAP.cpp
  module-bluetooth/Bluetooth/interface/profiles/GAP/GAP.hpp
  module-bluetooth/tests/tests-BluetoothDevicesModel.cpp
  module-services/service-bluetooth/service-bluetooth/BluetoothDevicesModel.cpp
  module-services/service-bluetooth/service-bluetooth/SettingsSerializer.cpp
  module-services/service-desktop/endpoints/bluetooth/BluetoothMessagesHandler.cpp
Labels: team-delta, bluetooth

#3252 [EGD-7909] Fixed phone mode switching
  module-cellular/at/cmd/src/CFUN.cpp
  module-services/service-cellular/ServiceCellular.cpp
  module-services/service-cellular/connection-manager/ConnectionManager.cpp
  module-services/service-cellular/connection-manager/ConnectionManagerCellularCommands.cpp
  module-services/service-cellular/service-cellular/ServiceCellular.hpp
  module-services/service-cellular/service-cellular/connection-manager/ConnectionManagerCellularCommands.hpp
  module-services/service-cellular/service-cellular/connection-manager/ConnectionManagerCellularCommandsInterface.hpp
  module-services/service-cellular/tests/unittest_connection-manager.cpp
  module-sys/SystemManager/CpuSentinel.cpp
  module-sys/SystemManager/include/SystemManager/CpuSentinel.hpp
Labels: cellular, team-delta

#3240 [EGD-7920] GUI fixes after deleting/add contact
  module-apps/application-calllog/ApplicationCallLog.cpp
  module-apps/application-calllog/data/CallLogInternals.hpp
  module-apps/application-calllog/windows/CallLogDetailsWindow.cpp
  module-apps/application-calllog/windows/CallLogOptionsWindow.cpp
  module-apps/application-calllog/windows/CallLogOptionsWindow.hpp
  module-apps/application-messages/ApplicationMessages.cpp
  module-apps/application-messages/data/SMSdata.hpp
  module-apps/application-messages/include/application-messages/Constants.hpp
  module-apps/application-messages/models/ThreadsModel.cpp
  module-apps/application-messages/widgets/SMSOutputWidget.cpp
  module-apps/application-messages/windows/MessagesMainWindow.cpp
  module-apps/application-messages/windows/OptionsMessages.cpp
  module-apps/application-messages/windows/OptionsMessages.hpp
  module-apps/application-messages/windows/ThreadWindowOptions.cpp
  module-apps/application-messages/windows/ThreadWindowOptions.hpp
  module-apps/application-phonebook/data/PhonebookItemData.hpp
  module-apps/application-phonebook/windows/PhonebookContactDetails.cpp
  module-apps/application-phonebook/windows/PhonebookContactDetails.hpp
  module-apps/application-phonebook/windows/PhonebookContactOptions.cpp
  module-apps/application-phonebook/windows/PhonebookContactOptions.hpp
  module-apps/apps-common/options/OptionStyle.hpp
  module-apps/apps-common/options/type/OptionContact.cpp
Labels: bug, gui, team-delta

#3326 [EGD-7939] Fix wrong battery status after restarting the phone
  module-bsp/board/rt1051/puretx/bsp/battery_charger/battery_charger.cpp
Labels: bug, hw, team-delta

#3320 [EGD-7875] Fixed bt not ringing
  module-bluetooth/Bluetooth/interface/profiles/HFP/HFP.cpp
  module-bluetooth/Bluetooth/interface/profiles/HSP/HSP.cpp
Labels: bluetooth

#3323 [EGD-7728] Fix refreshing contact details after editing
  module-apps/application-messages/windows/SMSThreadViewWindow.cpp
Labels: bug, gui, team-delta

#3336 [EGD-7864] Fix Modem rf in enabled after sim selected
  module-cellular/modem/mux/CellularMux.cpp
  module-services/service-cellular/ServiceCellular.cpp
  module-services/service-cellular/src/ServiceCellularPriv.cpp
  module-services/service-cellular/src/SimCard.cpp
  module-services/service-cellular/src/SimCard.hpp
Labels: cellular, team-delta
