Repository mudita/MuditaOS, pull requests merged in 2022-04, with the labels that each got.

#3669 [MOS-370] Documenation fixes and cleanup
  MuditaOS-screens.png
  README.md
  doc/Images/balenaetcher/ss1.png
  doc/Images/balenaetcher/ss2.png
  doc/Images/balenaetcher/ss3.png
  doc/Images/balenaetcher/ss4.png
  doc/Images/readme_header.jpg
  doc/Images/setup_ide/clion_ss1.png
  doc/README.md
  doc/build_targets.md
  doc/changelog_howto.md
  doc/flashing_win_macos.md
  doc/fonts.md
  doc/generate_doxygen.md
  doc/howto_simulator.md
  doc/quickstart.md
  doc/running_on_phone.md
  doc/setup_ide.md
Labels: community

#3722 [MOS-371] Fix USB worker initialization
  module-services/service-desktop/ServiceDesktop.cpp
  module-services/service-desktop/include/service-desktop/ServiceDesktop.hpp
Labels: bug, desktop-service

#3733 [MOS-386] Enable auto mode for DCDC converter
  module-bsp/board/rt1051/bsp/lpm/RT1051LPMCommon.cpp
  module-bsp/board/rt1051/puretx/bsp/lpm/RT1051LPM.cpp
Labels: hw

#3775 [MOS-228] GSM sleep mode dependend on communication with modem
  module-bsp/board/rt1051/bsp/cellular/rt1051_cellular.cpp
  module-cellular/modem/ATCommon.cpp
  module-cellular/modem/ATCommon.hpp
  module-cellular/modem/mux/DLCChannel.cpp
  module-services/service-cellular/ServiceCellular.cpp
  module-services/service-cellular/doc/README.md
  module-services/service-cellular/service-cellular/ServiceCellular.hpp
Labels: cellular

#3757 [MOS-138] Correction of URC poll mode parameters
  module-bluetooth/Bluetooth/Device.hpp
  module-gui/gui/widgets/status-bar/BT.cpp
  module-services/service-bluetooth/Constants.hpp
  module-services/service-bluetooth/ServiceBluetooth.cpp
  module-services/service-cellular/ServiceCellular.cpp
  module-services/service-cellular/doc/README.md
  module-services/service-cellular/doc/csq_handling.puml
  module-services/service-cellular/doc/csq_handling.svg
  module-services/service-cellular/service-cellular/CellularMessage.hpp
  module-services/service-cellular/src/CSQHandler.cpp
  module-services/service-cellular/src/CSQHandler.hpp
  module-services/service-cellular/src/ServiceCellularPriv.cpp
  module-services/service-evtmgr/EventManager.cpp
Labels: cellular
